@{
    string login = "";
}

<link href="~/Styles/MainPage/AuthenticationSection.css" rel="stylesheet" />

<form class="auth-container">
    Вы вошли в как @login <br />
    <a href="#">Выйти</a>
</form>

