@{
    Layout = "~/Pages/ControlWindow/_StartControlPage.cshtml";

    Page.Title = "Categories";
    Page.TitleRus = "Категории";
}

<link href="~/Styles/ControlWindow/Body/CategoryControlStyle.css" rel="stylesheet" />

<section>

    <nav class="nav-bar">
        <button id="addCategory-btn">Добавить</button>
        <button id="updateCatgory-btn">Обновить</button>
    </nav>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Опции</th>
            </tr>
        </thead>
        <tbody id="table-body">
            @for (int i = 1; i < 10; i++)
            {
                <tr id="@i">
                    <td name="id">@i</td>
                    <td name="name">Категория @i</td>
                    <td name="bnts">
                        <button name="changeCategory-btn">Изменить</button>
                        <form action="" method="post">
                            <button name="removeCategory-btn">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>

<section id="modal" class="modal">
    <form id="modal-window" action="" method="get" class="model-window">
        <input type="text" id="modal-id" name="id" value="" hidden="hidden"/>
        <input type="text" id="modal-name" name="name" value="" placeholder="Введите имя" required />
        <div class="btn">
            <button id="add-btn">Добавить</button>
            <input id="close-btn" type="button" name="close-btn" value="Закрыть" />
        </div>
    </form>
</section>

<script src="~/Scripts/ControlWindow/Body/ConstantCategoryControlScript.js"></script>
<script src="~/Scripts/ControlWindow/Body/CategoryControlScript.js"></script>
