@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Task 7</title>
    <link href="~/Styles/Authentication/AuthenticationLayout.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
