@using Epam.Task_7.Common;
@{
    Layout = "~/Pages/Authentication/_AuthenticationLayout.cshtml";

    string info = "";

    FormsAuthentication.SignOut();

    if (IsPost)
    {
        string login = Request["login"];
        string password = Request["password"];

        if (DependencyResolver.Authentication.CheckAuthentication(login, password))
        {
            FormsAuthentication.SetAuthCookie(login, true);
            Response.Redirect("~/Pages/UserLayout.cshtml");
        }
        else
        {
            info = "Неверный логин или пароль!";
        }
    }
}

<form action="" method="post">
    <span class="info">Логин</span> <br />
    <input type="text" name="login" value="" />
    <span class="info">Пароль</span> <br />
    <input type="password" name="password" value="" />
    <p class="response">@info</p>
    <button>Войти</button>
    <a href="~/Pages/Authentication/RegistrationLayout.cshtml" name="btn-registration">Регистрация</a>
</form>

