.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
}

    .modal div {
        margin: 10% auto;
        margin-bottom: auto;
        width: 500px;
        background-color: white;
        border-radius: 5px;
        box-shadow: #0000008f 0px 5px 20px 2px;
        overflow: auto;
        padding: 5px 5px 2px;
        z-index: 0;
    }

        .modal div input[name="login"], 
        .modal div input[name="password"], 
        .modal div input[name="text-name"], 
        .modal div input[name="text-title"], 
        .modal div input[name="dateOfBirth"] {
            display: block;
            margin: 5px;
            width: 96%;
            outline: none;
            border: none;
        }

        .modal div select { 
            display: block;
            width: 96.5%;
            outline: none;
            border: none;
            margin-left: 5px;
            margin-bottom: 10px;
        }

        .modal div textarea[name="text-content"] {
            display: block;
            resize: none;
            margin: 5px;
            width: 96.5%;
            height: 100px;
            outline: none;
            border: none;
        }

        .modal div button,
        .modal div input[name="btn-close"] {
            float: right;
            margin: 2px;
            background-color: #efefef;
            outline: none;
            border: none;
            border-radius: 3px;
            padding: 4px 10px;
        }

            .modal div input[name="btn-close"] {
                background-color: white;
            }
